:root {
    --color-background: white;
    --color-on-background: black;
    --color-background-hover: #eee;
    --color-on-background-hover: black;
    --color-primary: #00ff00;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: #17161a;
    --color-on-background: white;
    --color-background-hover: #201f24;
    --color-on-background-hover: white;
    --color-primary: #0c7800;
    --color-primary-disabled: #1d1f38;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

/* --- Fondo global y scroll --- */
html, body {
    height: auto;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-on-background);
    overflow-y: auto;
    margin: 0;
}

/* --- BODY --- */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
}

/* --- HEADER --- */
header {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: calc(10vw - 0rem);
    height: 4rem;
    position: relative;
    z-index: 10;
}

/* Prevenir salto visual en el header */
header * {
    line-height: 1;
}

header .logo {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

@media screen and (min-width: 1366px) {
    header {
        display: flex;
    }
}

/* --- MAIN --- */
main {
    flex: 1;
    background-color: var(--color-background);
    color: var(--color-on-background);
    display: block; /* evita conflicto con grid y permite scroll */
    min-height: calc(100vh - 4rem);
    overflow: visible;
    padding-bottom: 2rem;
}

main > div {
    overflow-y: visible;
    background-color: var(--color-background);
}

/* --- Spinner --- */
.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}

/* --- Checkbox --- */
input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
